/**
	* CSS - Bulma by Milla
	* @package Bulma by Milla
  * @version 1.1
  * @author Camila L. Oliveira
*/

/** GLOBAL */
@import url('node_modules/bulma/css/bulma.css');

/** ICONS */
@import url('fonts/fontawesome/css/all.css');

/** FONT */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Major+Mono+Display|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');

@font-face {
    font-family: 'Kollektif';
    src: url('fonts/kollektif/Kollektif.eot'); /* IE9 Compat Modes */
    src: url('fonts/kollektif/Kollektif.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/kollektif/Kollektif.woff') format('woff'), /* Modern Browsers */
        url('fonts/kollektif/Kollektif.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/kollektif/Kollektif.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/** COMPONENTS */
body {
  font-family: 'Montserrat', sans-serif;
}


/** HEADER, HERO AND NAVBAR */
.hero, .navbar.is-fixed-top {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero .container .title, .hero .container .subtitle {
  font-family: 'Kollektif';
  color: #fff;
}

.hero .container .title.is-large { font-size: 5rem; }
.hero .container .title.is-medium { font-size: 3rem; }
.hero .container .title.is-small { font-size: 2rem; }


.hero .navbar-brand:hover, .hero .navbar-item.is-logo:hover, .hero .navbar-start .navbar-item,
.hero .navbar-start .navbar-item:hover, .hero .navbar-end .navbar-item, .hero .navbar-end .navbar-item:hover,
.hero .navbar .navbar-item:hover,
.hero .navbar-link, .hero .navbar-link:hover, .hero .navbar-link.is-active, .hero .navbar-link:hover
{  
  background: none; 
  color: #fff;
}

.hero .subtitle {
  padding: 0.5rem 0;
  line-height: 1.5;
}

.navbar-dropdown { 
  background: rgba(255,255,255,0.9);
  border: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
}

.logo, .navbar-item.is-logo { font-family: 'Major Mono Display'; }

.logo { font-size: 1.2rem; }

.navbar-item.is-logo { 
  font-size: 2rem;
  max-height: 3rem;
}

.navbar-link, .navbar-item {
  background: none; 
  color: #9d9d9d;
}

.navbar-item.is-link a, .has-text-info, .bd-view-all-versions, .strong-dropdown { color: #fff; }


/** CONTENT */
.title.is-6 .title.is-mega-menu-title{ color: #9d9d9d; }

.section {
  padding: 5rem 1.5rem;
}
.section p { padding: 0.8em; }


/* AVATAR */

.avatar {
  margin-left: 30%;
}

.image.is-256x256 {
  width: 256px;
  height: 256px;
}

/* LOGIN */
.box { 
  margin-top: 5rem; 
}

.box .title.is-medium { color: #333; }
.box .title.is-medium.is-white { color: #fff; }

/** FOOTER */
.bulma {
  max-height: 2rem;
}

/** PRINT PAGE */
.section.is-padding-small{
  padding: 1.5rem 0.75rem;
}